* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bmi-container {
    border: 7px dashed white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box {
    border: 2px solid black;
}

.input-lable,
input-box,
.input-sumbit {
    display: block;
    margin: 10px;
    text-align: center;
}

.input-sumbit {
    border: 2px solid black;
    width: 300px;
}